{% extends 'base.html.twig' %}

{% block title %}Hello ScheduleController!{% endblock %}

{% block body %}
<div class="container">
    <div class="features">
    <div class="container">
        <div class="feature">
        {% for schedule in schedules %}
            <img src="{{ vich_uploader_asset(schedule, 'imageFile') }}" alt="{{ schedule.title }}">
        {% endfor %}
        </div>
        <div class="feature"><i class="fas fa-layer-group"></i> <p>MANY REUSABLE ELEMENTS</p></div>
        <div class="feature"><i class="fas fa-gem"></i> <p>RESPONSIVE LAYOUT</p></div>
        <div class="feature"><i class="fas fa-share-alt"></i> <p>CLEAN MODERN CODE</p></div>
    </div>
</div>
{% endblock %}