{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
{% for flash_error in app.flashes('reset_password_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<div class="login-container">
    <h2>Réinitialiser votre mot de passe</h2>
    <form method="POST">
        {{ form_start(requestForm) }}
        <div class="input-group">
            <label for="email">Email</label>
            {{ form_widget(requestForm.email) }}
        </div>
        <button type="submit" class="btn">Envoyer</button>
        {{ form_end(requestForm) }}
        <small>
            Entrer votre adresse mail et nous allons vous envoyer un lien pour réinitailiser votre mot de passe.
        </small>
    </form>
</div>
{% endblock %}